@model IEnumerable<MyTunes.Models.Songs>

@{
    Layout = null ;

}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" type="text/css" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body class="container">
    <div class="jumbo">
        <table class="table">
            <tr>
                <th class="songIndex">
                    @Html.DisplayNameFor(model => model.SongTitle)
                    @*</th>
                    <th>
                        @Html.DisplayNameFor(model => model.SongType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SongVideo)
                    </th>*@
                <th>Options</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SongTitle)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.SongType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SongVideo)
                    </td>*@
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
    </div>

    <p>
        @Html.ActionLink("Add New Song", "Create") |
        @Html.ActionLink("Home", "Index", "Home")
    </p>
</body>
</html>
